nav ol{
list-style-type: none;
border-bottom: 10px;
border-bottom-style: double;
border-color: hotpink;
}


li{
    display: inline-block;
    padding: 5px; 
}
body{
    background-color: indianred;
}
h1{
    text-align: initial;
}
footer{
    background-color: cadetblue;
}